@font-face{
  font-family: 'Avo';
  src:url('./fonts/utm-avo.ttf');
}
@font-face{
  font-family: 'Avo Bold';
  src:url('./fonts/utm-avobold.ttf');
}
@font-face{
  font-family: 'Quicksand Light';
  src:url('./fonts/vnf-quicksand-light.ttf');
}
@font-face{
  font-family: 'Quicksand Bold';
  src:url('./fonts/vnf-quicksand-bold.ttf');
}